<h1><%= "#{@petition.name}'s Application for Pets" %> </h1>

<h2> Pets Applied For </h2>
<% @associated_pet_petitions.each do |pet_petition| %>
  <p><%= " #{pet_petition.pet.name} -- #{pet_petition.pet.breed}: #{pet_petition.pet.age} years old." %></p>
  <p><%= "Is #{pet_petition.pet.name} adoptable? #{pet_petition.pet.adoptable} " %></p>
  <% if pet_petition.status != 'Undecided' %>
    <p><%= "Application Status: #{pet_petition.status}" %></p>
  <% elsif pet_petition.status == 'Undecided' %>
    <%= button_to "Approve #{@petition.name} for #{pet_petition.pet.name}", "/admin/petitions/#{@petition.id}", method: :patch, params: { approval: 'Approved', pet: pet_petition.pet.id} %>
    <%= button_to "Reject #{@petition.name} for #{pet_petition.pet.name}", "/admin/petitions/#{@petition.id}", method: :patch, params: { approval: 'Rejected', pet: pet_petition.pet.id} %>
  <% end %>
<% end %>