<h1> <%= "#{@shelter.name}'s Information" %> </h1>

<%= "Shelter Name: #{@shelter.name}" %>
<%= "Shelter Location: #{@shelter.city}" %>


<div class="right_list">
  <h1> Statistics </h1>
  <%= "Average Age of Adoptable Pets for: #{@shelter.name}" %>
  <%= "#{@shelter.average_adoptable.to_f.round(2)}" %>
</div>